<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <link 
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <h1>About cute doggos</h1>
   <div id="list">
       <h3>Interesting facts about all doggos, big ol and smol puppers</h3>
       <ol>
           <li><a href="fact1">Dogs have 18 muscles to move their ears.</a>
            <p>  <p>They're good for more than just taking scritches. These 18 muscles allow dogs to move their ears in intricate ways, which is important to picking up sounds. Plus, your dogs ears can give you a clue as to how they're feeling: If they're laying flat back against their head, your pooch may be scared. If they're pointing straight up, they're alert and on the case.</p></p></li>
           <li><a href="fact2">A dog's nose is its fingerprint.</a>
            <p>Dog noses have unique patterns that can serve to identify them, similar to human fingerprints. And in April 2021, dog food company IAMS launched an app that uses this fact to help reunite lost pups with their owners. After you download NOSEiD, scan your pet's nose and upload it to their database. If they ever escape your yard, any concerned human who finds them can search the app for a match.</p></li>
           <li><a href="fact3">Dogs may be able to fall in love with you.</a>
            <p>Thanks to science, you can know, for a fact, that your dog loves you back. A 2015 study at Azabu University in Japan found an uptick in the level of oxytocin in both dogs and their owners when they stare at each other.</p>
            </li>  
       </ol>
   </div>

  </body>
</html>