<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>home</title>
    <link 
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="hello">
        <h1>Hello there</h1>
        <p>here we just admire cute doggos</p>
    </div>
    <div id="just-click">
        <ul>
            <li><a href="views/about.html">About</a></li>
            <li><a href="views/works.html">Works</a></li>
        </ul>
    </div>
    <div id="dogpic">
        <img src="https://wallpaperaccess.com/full/1730273.jpg" class="doggoImg" alt="doggo" />
    </div>

    
  </body>
</html>