<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>works</title>
    <link 
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/works.css" />
  </head>
  <body>
   
    <h1>What cute lil doggos can </h1>
    <div id="allvid">
    <div class="video">
      <h3>They can be a drama</h3>
      <video width="320" height="240" controls>
        <source src="/If you want to see more of these cuties,  —————————————————— follow @samoyedcuddles   follow @samoyedcuddles  —————————————————— double tap if you think they are cute ..mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>
    </div>
    <div class="video">
      <h3>They can be extra cute</h3>
      <video width="320" height="240" controls>
        <source src="/The cutest little pup on the planet  Video by @waffle_seol Via- @Pup.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>
    </div>
    <div class="video">
      <h3>They can float</h3>
      <video width="320" height="240" controls>
        <source src="/Maybe other dogs are just doing it wrong... -(Via @_macyclem).mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>
    </div>
  </div>
  </body>
</html>