html {
    background-image: url('https://media.istockphoto.com/vectors/trace-brown-doodle-paw-prints-seamless-pattern-background-vector-id1169439839?k=20&m=1169439839&s=612x612&w=0&h=kHR8uwONekfGBQG9eepRvO9CV2z6oImbPvenUkiwJSc=');
}

h1 {
    font-size: 40px;
    color: black;
    background-color: white;
    text-align: center;
}
#allvid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video {
    text-align: center;
    list-style: none;
    font-size: 30px;
    background-color: white;
}